[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Allows the load Gerrit plugins implemented as Groovy scripts
[access "refs/*"]
	owner = group GerritForge-groovy-provider
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-groovy-provider
	label-Verified = -1..+1 group GerritForge-groovy-provider
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-groovy-provider
	removeReviewer = group GerritForge-groovy-provider
	submit = group GerritForge-groovy-provider
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
